{{ form_start(form, { 'attr': {'class': 'form-type-material'} }) }}

<div class="form-group">
    {{ form_row(form.name, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.ressourcesOnPlanet, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="d-flex flex-wrap">
    <div>
        <div class="form-group">
            {{ form_row(form.imageIndexName, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
        </div>
        <img src="/assets/img/uploadIndexPlanet/{{ planet.imageIndexName }}" alt="{{ planet.name }}" class="w-150">
    </div>
    <div>
        <div class="form-group">
            {{ form_row(form.imageShowName, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
        </div>
        <img src="/assets/img/uploadShowPlanet/{{ planet.imageShowName }}" alt="{{ planet.name }}" class="w-150">
    </div>
</div>
<br><br><br>
<button class="btn btn-bold btn-block btn-info" type="submit">Enregistrer</button>
<br>
<a href="{{ path('planets_index') }}" class="btn btn-bold btn-block btn-secondary" type="submit">Retour</a>
{{ form_end(form) }}
