{% extends 'base.html.twig' %}

{% block title %}Liste Planètes{% endblock %}

{% block body %}

    {% block header %}
        <header class="header header-inverse" style="background-image: url({{ asset('assets/img/formPlanet.jpg') }});" data-overlay="4">
            <div class="container text-center">

                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">

                        <h1>Liste des planètes</h1>
                        {% if is_granted('ROLE_SUPERADMIN') %}
                        <a class="btn btn-lg btn-primary bg-dark border-transparent opacity-90" href="{{ path('planets_new') }}">Ajouter</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </header>
    {% endblock %}

    <!-- Main container -->
    <main class="main-content">

        <section class="section bg-dark">
            <div class="container">

                <div class="row gap-y text-center" data-shuffle="list">
                    {% for planet in planets %}

                        <div class="col-6 col-md-4 col-lg-3">
                            <p><a href="{{ path('planets_show', {'id': planet.id}) }}"><img src="/assets/img/uploadIndexPlanet/{{ planet.imageIndexName }}" alt="{{ planet.name }}" class="w-150"></a></p>
                            <p><strong>{{ planet.name }}</strong></p>
                            {% if is_granted('ROLE_SUPERADMIN') %}
                            <p><a class="btn btn-sm btn-info-outline border-transparent opacity-85" href="{{ path('planets_edit', {'id': planet.id}) }}">Modifier</a></p>
                            {% endif %}
                        </div>

                    {% endfor %}

                </div>

            </div>
        </section>
    </main>

{% endblock %}