<!DOCTYPE html>

<title>Planets index</title>

{% block body %}
    <h1>Planets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planet in planets %}
            <tr>
                <td>{{ planet.id }}</td>
                <td>{{ planet.name }}</td>
                <td>
                    <a href="{{ path('planets_show', {'id': planet.id}) }}">show</a>
                    <a href="{{ path('planets_edit', {'id': planet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('planets_new') }}">Create new</a>
{% endblock %}
