{{ form_start(form, { 'attr': {'class': 'form-type-material'} }) }}

<div class="form-group">
    {{ form_row(form.name, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.origin, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="custom-controls-stacked mt-25">
    <label class="fs-16 fw-600 cust-check">
        {{ form_errors(form.isItProducible) }}
        {{ form_widget(form.isItProducible, { 'attr': {'class': 'custom-control-input'} }) }}
        <span class="checkmark"></span>
        <span class="custom-control-description">Est-ce productible à la centrifugeuse ?</span>
    </label>
</div>
<div class="custom-controls-stacked mb-25">
    <label class="fs-16 fw-600 cust-check">
        {{ form_errors(form.isItExchangeable) }}
        {{ form_widget(form.isItExchangeable, { 'attr': {'class': 'custom-control-input'} }) }}
        <span class="checkmark"></span>
        <span class="custom-control-description">Est-ce échangeable à la plateforme d'échange ?</span>
    </label>
</div>
<div class="form-group">
    {{ form_row(form.ressourcesForRessource, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.ressourcesCreateByRessources, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.whatPlanets, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.whatMachines, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.whatVehicles, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.whatObjects, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.imageFile, { 'attr': {'class': 'form-control'}, 'label_attr': {'class': 'fs-16 fw-600'} }) }}
</div>
<img src="/assets/img/ressources/{{ ressource.imageName }}" alt="{{ ressource.name }}" class="w-150">
<br><br><br>
<button class="btn btn-bold btn-block btn-info" type="submit">Enregistrer</button>
<br>
<a href="{{ path('ressources_index') }}" class="btn btn-bold btn-block btn-secondary" type="submit">Retour</a>
{{ form_end(form) }}
