<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Astroneer Wiki{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/core.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/css/thesaas.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/css/select2.min.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="topbar topbar-sticky topbar-inverse topbar-expand-md topbar-nav-centered">
                <div class="container">

                    <div class="topbar-left">
                        <button class="topbar-toggler">&#9776;</button>
                        <a class="topbar-brand" href="{{ path('default') }}">
                            <img class="logo-default" src="{{ asset('assets/img/logo-2.png') }}" alt="logo">
                            <img class="logo-inverse" src="{{ asset('assets/img/logo-light-2.png') }}" alt="logo">
                        </a>
                    </div>


                    <div class="topbar-center">
                        <ul class="topbar-nav nav">
                            <li class="nav-item"><a class="nav-link fs-20 zekton hover-primary" href="{{ path('planets_index') }}">Planètes</a></li>
                            <li class="nav-item"><a class="nav-link fs-20 zekton hover-primary" href="{{ path('ressources_index') }}">Ressources</a></li>
                            <li class="nav-item"><a class="nav-link fs-20 zekton hover-primary" href="{{ path('machines_index') }}">Machines</a></li>
                            <li class="nav-item"><a class="nav-link fs-20 zekton hover-primary" href="{{ path('objects_index') }}">Objets</a></li>
                            <li class="nav-item"><a class="nav-link fs-20 zekton hover-primary" href="{{ path('vehicles_index') }}">Véhicules</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}
        {% block footer %}

            <section class="section section-inverse">
                <div class="container">
                    <div class="col-12 col-lg-12">
                        <ul class="nav nav-primary nav-hero">
                            <li class="nav-item"><a class="nav-link zekton hover-primary" href="{{ path('planets_index') }}">Planètes</a></li>
                            <li class="nav-item"><a class="nav-link zekton hover-primary" href="{{ path('ressources_index') }}">Ressources</a></li>
                            <li class="nav-item"><a class="nav-link zekton hover-primary" href="{{ path('machines_index') }}">Machines</a></li>
                            <li class="nav-item"><a class="nav-link zekton hover-primary" href="{{ path('objects_index') }}">Objets</a></li>
                            <li class="nav-item"><a class="nav-link zekton hover-primary" href="{{ path('vehicles_index') }}">Véhicules</a></li>
                        </ul>

                        <hr>

                        <p class="text-center opacity-70">Wiki français pour le jeu Astroneer</p>
                    </div>
                </div>
            </section>

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.3.1.js') }}"></script>
            <script src="{{ asset('assets/js/tether.js') }}"></script>
            <script src="{{ asset('assets/js/core.min.js') }}"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
            <script src="{{ asset('assets/js/thesaas.min.js') }}"></script>
            <script src="{{ asset('assets/js/select2.js') }}"></script>
            <script>
                $(document).ready(function() {
                    $('#ressources_origin').select2();
                    $('#ressources_ressourcesForRessource').select2();
                    $('#ressources_whatPlanets').select2();
                    $('#ressources_whatMachines').select2();
                    $('#ressources_whatVehicles').select2();
                    $('#ressources_whatObjects').select2();
                    $('#planets_ressourcesOnPlanet').select2();
                    $('#vehicles_ressourcesForVehicle').select2();
                    $('#vehicles_machineWhoCreateVehicles').select2();
                });
            </script>
        {% endblock %}
    </body>
</html>
