{% extends 'base.html.twig' %}

{% block title %}Véhicule {{ vehicle.name }}{% endblock %}

{% block body %}

    {% block header %}
        <header class="header header-inverse" style="background-image: url({{ asset('assets/img/formVehicle.jpg') }});" data-overlay="4">
            <div class="container text-center">

                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2">

                        <h1>{{ vehicle.name }}</h1>
                        {% if is_granted('ROLE_SUPERADMIN') %}
                        <p><a class="btn btn-lg btn-primary opacity-85" href="{{ path('vehicles_edit', {'id': vehicle.id}) }}">Modifier</a></p>
                        {% endif %}
                        <p><a class="btn btn-sm btn-secondary opacity-85" href="{{ path('vehicles_index') }}">Retour</a></p>
                    </div>
                </div>

            </div>
        </header>
    {% endblock %}

    <main class="main-content">

        <section class="section">
            <div class="container">
                <header class="section-header">
                    <small><strong>{{ vehicle.name }}</strong></small>
                    <h2>Comment l'obtenir ?</h2>
                    <hr>
                    <p class="lead">
                        Ce véhicule est imprimé par l'{{ vehicle.machineWhoCreateVehicles.name }}
                        {% if vehicle.ressourcesForVehicle is not empty %}<br>
                            <strong>Ressource(s) nécessaire(s) :</strong>
                        <ul class="d-flex flex-wrap list-unstyled justify-content-center">
                            {% for ressourcesForVehicle in vehicle.ressourcesForVehicle %}
                                <li class="mx-20 my-10">
                                    <a href="{{ path('ressources_show', {'id': ressourcesForVehicle.id}) }}" class="fs-16 text-dark hover-success d-flex flex-column justify-content-center">
                                        {{ ressourcesForVehicle.name }}
                                        <img src="/assets/img/uploadIndexRessource/{{ ressourcesForVehicle.imageIndexName }}" alt="{{ ressourcesForVehicle.name }}" class="w-100 mx-auto">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </p>
                </header>



                <div class="row gap-y">

                    <div class="col-12 offset-md-2 col-md-8 mb-30">
                        <img src="/assets/img/uploadShowVehicle/{{ vehicle.imageShowName }}" alt="..." data-aos="fade-up" data-aos-duration="2000">
                    </div>

                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <div class="col-12 text-center">
                        <br><br>
                        {{ include('vehicles/_delete_form.html.twig') }}
                    </div>
                    {% endif %}

                </div>

            </div>
        </section>

    </main>
{% endblock %}
